@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", "sans-serif";
}

button {
  @apply bg-white rounded-xl px-6 w-full
  py-4 flex justify-center text-xl select-none
  hover:cursor-pointer hover:rounded-sm
  hover:scale-110 hover:text-xl hover:-translate-y-1
  transition duration-300;
}

.operator {
  @apply bg-pink-500 text-white text-xl;
}

.result {
  @apply px-6 py-4 text-xl bg-white rounded-xl h-20 col-span-4
  flex justify-end items-center;
}
