@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", "sans-serif";
}

li {
  @apply bg-white rounded-xl px-6
  py-4 flex justify-center text-xl
  hover:cursor-pointer hover:rounded-sm
  hover:scale-110 hover:text-xl
  transition duration-300;
}

.operator {
  @apply bg-pink-500 text-white text-xl;
}

.result {
  @apply h-20 col-span-4 !justify-end items-center
    hover:!scale-100 hover:!rounded-xl hover:!cursor-default;
}
